<h2>Hello there!</h2>
<p>My name is Anton<span id="age"></span></p>
<script type="text/javascript">
  age.innerHTML = ', I am ' + Math.abs(new Date(Date.now() - new Date(939276000000)).getUTCFullYear() - 1970) + ' years old';
</script>
<p>I am a <abbr title="Kotlin, Scala, Java itself, Clojure even, just the bytecode too">JVM</abbr>, Rust and Android
  developer</p>
<p>I do Linux, web, scripting and a lot of other generic programming</p>
<p class="glow"><i>Please use social links above to contact <b>me</b> and not some cringe scammer who has this site in
    their Discord profile description, lol</i></p>
<a rel="me" href="https://floss.social/@necauqua" style="display: none">Mastodon (todo)</a>

<script data-goatcounter="https://stats.necauq.ua/count" async src="//stats.necauq.ua/count.js"></script>