html {
  scrollbar-gutter: stable;
  /* remove that weird line cactus has?
     esp. since it doesn't play well with the above */
  border: none;
}

/* a pleasant no-js fade-in-out on chrome for free  */
@view-transition {
  navigation: auto;
}

#dot {
  /* inline-block messes with the height */
  display: inline-flex;
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
}

#title {
  display: flex;
}

#title>h1:hover #dot {
  width: 1ch;
}

/* remove cactus hover ungreyscaling, looks bad with both my avatar and the view transition */
#logo {
  filter: none !important;
}

/* git lastmod footer */
.git-info-container {
  display: flex;
  justify-content: end;
}

a.git-hash {
  background-image: linear-gradient(transparent, transparent 5px, #666 5px, #666);
  color: #666;
}

a.git-hash:hover {
  background-image: linear-gradient(transparent, transparent 5px, #666 5px, #666);
}

.git-info-box {
  padding: 0.5rem;
  flex-direction: column;
  font-size: 0.6rem;
  color: #666;
}

.git-last-modified {
  font-size: 0.5rem;
}
